<!DOCTYPE html>
    <head>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <title>Get-A-Quote</title>
    </head>
    <body>
        <center>
            <br><br><br><br>
            <h1>Welcome to Get-A-Quote</h1>
            <h3>Text (856) 343-0082 for a funny (most likely nerdy) quote.</h3>
            <br><br><br><br>
            <img src="/static/nerd.jpeg">
        </center>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
